doctype html
html
    head
        //- script
        //-     include script.js
        //- style
        //-     include style.css
    body
        div
            h1 Hi #{name}, Trouble signing in?
            p Resetting your password is easy. Just press the button below and follow the instructions.
            p We'll have you up and running in no time.
            a(href=link)
                button(type="button") Reset Password
            p You received this email because you requested a password reset. If you did not, please contact us by replying to this email.
