doctype html
html
    head
        script(type="text/javascript", src='/javascripts/style.css')
        link(rel='stylesheet', href='/stylesheets/emailVerification.css')
    body
        div
            h1 Hi #{name}, You're on your way!
            p Let's confirm your email address.
            p By clicking on the following link, you are confirming your email address.
            a(href=link)
                button(type="button") Confirm Email Address
