doctype html
html
    head
        script(type="text/javascript", src='/javascripts/resetPassword.js')
        script.
            var check = function() {
                if (document.getElementById('newPassword').value == document.getElementById('confirmPassword').value) {
                    document.getElementById('submit').disabled = false;
                }
                else{
                    document.getElementById('submit').disabled = true;
                }
            }
        link(rel='stylesheet', href='/stylesheets/resetPassword.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    body
        //- .container
        //-     .row
        //-         .col-xs-12.col-sm-6.col-md-4.text-center
        //-             h3 Reset Password
        //-     .row
        //-         .col-xs-12.col-sm-6.col-md-4.extra-padding
        //-             label.idleLabel(for='newPassword') New Password
        //-             .input-group
        //-                 input#newPassword.form-control.isRequired(type='password' name='newPassword' title='enter your new password' maxlength='50')
        //-                 span.input-group-addon(title='Invalid password')
        //-                     i.fa.fa-lg.fa-fw.fa-times.text-danger
        //-     .row
        //-         .col-xs-12.col-sm-6.col-md-4.extra-padding
        //-             label.idleLabel(for='newPasswordConfirm') Verify password
        //-             .input-group
        //-                 input#newPasswordConfirm.form-control.isRequired(type='password' name='newPasswordConfirm')
        //-                 span.input-group-addon(title='Passwords match')
        //-                     i.fa.fa-lg.fa-fw.fa-check.text-success
        //-     .row
        //-         button(type='button' value="Read More" onclick=`redirect(newPasswordConfirm.value)`)


        form(method="POST" action=`/user/resetPassword/?token=${token}`)
            div.form-group
            h3 Reset Password
            label(for="newPassword") New Password:
            input#newPassword.form-control(type="password", placeholder="New Password" name="password1"  onkeyup='check();')
            label(for="confirmPassword") Re-Enter Password:
            input#confirmPassword.form-control(type="password", placeholder="Confirm Password" name="password2"  onkeyup='check();')
            div.form-group
                button#submit.btn.btn-primary(type="submit" role="submit" disabled) Submit
