textarea {
    resize: none;
}

.idleLabel {
    position: absolute;
    color: #888888;
    margin: 7px 13px;
    font-weight: normal;
    z-index: 3;
}

.activeLabel {
    position: absolute;
    color: grey;
    font-size: x-small;
    margin: -5px 10px;
    background-color: #FFFFFF;
    border-left: solid #888888 1px;
    border-right: solid #888888 1px;
    padding: 0 4px;
    z-index: 3;
}

.extra-padding {
    margin-bottom: 0.5em;
}
